<div class="twitter-container">
<h1>Carrer D'en Grassots</h1>
<p>A twitter bot for <%= link_to "this account", "https://twitter.com/CarrerDGrassot"%></p>
<%= link_to "Tweet something", tweet_path, method: :post, class: "btn btn-primary" %>
</div>

